In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../../data/raw/data.csv")

In [3]:
data.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [4]:
# Drop Booking_ID , arrival_year , arrival_date

In [5]:
candidate_data = data.drop(labels=["Booking_ID","arrival_year","arrival_date"],axis=1)

In [7]:
candidate_data.shape

(36275, 16)

In [8]:
test = pd.get_dummies(candidate_data,dtype=int)

In [9]:
test

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_month,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,...,room_type_reserved_Room_Type 5,room_type_reserved_Room_Type 6,room_type_reserved_Room_Type 7,market_segment_type_Aviation,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online,booking_status_Canceled,booking_status_Not_Canceled
0,2,0,1,2,0,224,10,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,2,0,2,3,0,5,11,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,1,0,2,1,0,1,2,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,2,0,0,2,0,211,5,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,2,0,1,1,0,48,4,0,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,0,85,8,0,0,0,...,0,0,0,0,0,0,0,1,0,1
36271,2,0,1,3,0,228,10,0,0,0,...,0,0,0,0,0,0,0,1,1,0
36272,2,0,2,6,0,148,7,0,0,0,...,0,0,0,0,0,0,0,1,0,1
36273,2,0,0,3,0,63,4,0,0,0,...,0,0,0,0,0,0,0,1,1,0
36274,2,0,1,2,0,207,12,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [10]:
input = pd.DataFrame(data = np.asarray(candidate_data.loc[0]).reshape(1,-1),columns=candidate_data.columns)

In [11]:
input.dtypes

no_of_adults                            object
no_of_children                          object
no_of_weekend_nights                    object
no_of_week_nights                       object
type_of_meal_plan                       object
required_car_parking_space              object
room_type_reserved                      object
lead_time                               object
arrival_month                           object
market_segment_type                     object
repeated_guest                          object
no_of_previous_cancellations            object
no_of_previous_bookings_not_canceled    object
avg_price_per_room                      object
no_of_special_requests                  object
booking_status                          object
dtype: object

In [12]:
def type_converter(source,target):

    for col in source.columns:

        target[col] = target[col].astype(source[col].dtype)

In [13]:
type_converter(candidate_data,input)

In [14]:
input.dtypes

no_of_adults                              int64
no_of_children                            int64
no_of_weekend_nights                      int64
no_of_week_nights                         int64
type_of_meal_plan                        object
required_car_parking_space                int64
room_type_reserved                       object
lead_time                                 int64
arrival_month                             int64
market_segment_type                      object
repeated_guest                            int64
no_of_previous_cancellations              int64
no_of_previous_bookings_not_canceled      int64
avg_price_per_room                      float64
no_of_special_requests                    int64
booking_status                           object
dtype: object

In [15]:
encoded_input = pd.get_dummies(input,dtype=int)

In [20]:
encoded_input.head(1)

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_month,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,type_of_meal_plan_Meal Plan 1,room_type_reserved_Room_Type 1,market_segment_type_Offline,booking_status_Not_Canceled
0,2,0,1,2,0,224,10,0,0,0,65.0,0,1,1,1,1

In [166]:
test.head(1)

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_month,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,...,room_type_reserved_Room_Type 5,room_type_reserved_Room_Type 6,room_type_reserved_Room_Type 7,market_segment_type_Aviation,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online,booking_status_Canceled,booking_status_Not_Canceled
0,2,0,1,2,0,224,10,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [19]:
test.shape

(36275, 30)