In [79]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv("../../data/raw/data.csv")

In [3]:
data.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [4]:
# Drop Booking_ID , arrival_year , arrival_date

In [5]:
candidate_data = data.drop(labels=["Booking_ID","arrival_year","arrival_date"],axis=1)

In [6]:
candidate_data.shape

(36275, 16)

In [71]:
encoded_data = pd.get_dummies(candidate_data,dtype=int)

In [72]:
encoded_data

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_month,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,...,room_type_reserved_Room_Type 5,room_type_reserved_Room_Type 6,room_type_reserved_Room_Type 7,market_segment_type_Aviation,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online,booking_status_Canceled,booking_status_Not_Canceled
0,2,0,1,2,0,224,10,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,2,0,2,3,0,5,11,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,1,0,2,1,0,1,2,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,2,0,0,2,0,211,5,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,2,0,1,1,0,48,4,0,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,0,85,8,0,0,0,...,0,0,0,0,0,0,0,1,0,1
36271,2,0,1,3,0,228,10,0,0,0,...,0,0,0,0,0,0,0,1,1,0
36272,2,0,2,6,0,148,7,0,0,0,...,0,0,0,0,0,0,0,1,0,1
36273,2,0,0,3,0,63,4,0,0,0,...,0,0,0,0,0,0,0,1,1,0
36274,2,0,1,2,0,207,12,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [74]:
encoded_data.describe()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_month,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,...,room_type_reserved_Room_Type 5,room_type_reserved_Room_Type 6,room_type_reserved_Room_Type 7,market_segment_type_Aviation,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online,booking_status_Canceled,booking_status_Not_Canceled
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,...,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000
mean,1.844962,0.105279,0.810724,2.204300,0.030986,85.232557,7.423653,0.025637,0.023349,0.153411,...,0.007305,0.026630,0.004356,0.003446,0.010779,0.055603,0.290227,0.639945,0.327636,0.672364
std,0.518715,0.402648,0.870644,1.410905,0.173281,85.930817,3.069894,0.158053,0.368331,1.754171,...,0.085159,0.161001,0.065854,0.058601,0.103261,0.229157,0.453873,0.480023,0.469358,0.469358
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,5.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,8.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,10.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,12.000000,1.000000,13.000000,58.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
cols = [col for col in encoded_data.columns if encoded_data.describe().loc["max",col] > 1]

In [76]:
scaler = StandardScaler()

In [80]:
for col in cols:
    scaler = StandardScaler()
    
    encoded_data[col] = scaler.fit_transform(np.asarray(encoded_data[col]).reshape(-1,1))

In [81]:
encoded_data

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_month,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,...,room_type_reserved_Room_Type 5,room_type_reserved_Room_Type 6,room_type_reserved_Room_Type 7,market_segment_type_Aviation,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online,booking_status_Canceled,booking_status_Not_Canceled
0,0.298893,-0.26147,0.217401,-0.144803,0,1.614896,0.839242,0,-0.063393,-0.087456,...,0,0,0,0,0,0,1,0,0,1
1,0.298893,-0.26147,1.365993,0.563972,0,-0.933701,1.164990,0,-0.063393,-0.087456,...,0,0,0,0,0,0,0,1,0,1
2,-1.628975,-0.26147,1.365993,-0.853578,0,-0.980250,-1.766747,0,-0.063393,-0.087456,...,0,0,0,0,0,0,0,1,1,0
3,0.298893,-0.26147,-0.931190,-0.144803,0,1.463610,-0.789501,0,-0.063393,-0.087456,...,0,0,0,0,0,0,0,1,1,0
4,0.298893,-0.26147,0.217401,-0.853578,0,-0.433291,-1.115250,0,-0.063393,-0.087456,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,2.226761,-0.26147,1.365993,2.690296,0,-0.002706,0.187744,0,-0.063393,-0.087456,...,0,0,0,0,0,0,0,1,0,1
36271,0.298893,-0.26147,0.217401,0.563972,0,1.661446,0.839242,0,-0.063393,-0.087456,...,0,0,0,0,0,0,0,1,1,0
36272,0.298893,-0.26147,1.365993,2.690296,0,0.730452,-0.138004,0,-0.063393,-0.087456,...,0,0,0,0,0,0,0,1,0,1
36273,0.298893,-0.26147,-0.931190,0.563972,0,-0.258730,-1.115250,0,-0.063393,-0.087456,...,0,0,0,0,0,0,0,1,1,0
36274,0.298893,-0.26147,0.217401,-0.144803,0,1.417060,1.490739,0,-0.063393,-0.087456,...,0,0,0,0,0,0,1,0,0,1