In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../data/raw/data.csv")

In [3]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [36]:
train  = df.sample(frac=.8,random_state=220)
val    = df.drop(train.index).sample(frac=.5,random_state=220)
test = df.drop(index=train.index.union(val.index))

In [37]:
test.shape

(3627, 19)

In [38]:
val.shape

(3628, 19)

In [39]:
train.shape

(29020, 19)

In [40]:
print(f'{train.iloc[:,-1].value_counts()}\n')
print(f'{val.iloc[:,-1].value_counts()} \n')
print(f'{test.iloc[:,-1].value_counts()}\n')

booking_status
Not_Canceled    19441
Canceled         9579
Name: count, dtype: int64

booking_status
Not_Canceled    2468
Canceled        1160
Name: count, dtype: int64

booking_status
Not_Canceled    2481
Canceled        1146
Name: count, dtype: int64