In [129]:
import pandas as pd

In [130]:
df = pd.read_csv("../../data/raw/data.csv")

In [131]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [132]:
df.shape

(36275, 19)

In [152]:
train  = df.sample(frac=.8,random_state=100)
val    = df.drop(train.index)
#val    = df.drop(train.index).sample(frac=.5,random_state=100)
#test   = df.drop(index=train.index.union(val.index))

In [153]:
test.shape

(3627, 19)

In [154]:
val.shape

(7255, 19)

In [155]:
train.shape

(29020, 19)

In [156]:
train_count = [x for x in train.describe().iloc[-1,:] if x > 1]
test_count = [x for x in test.describe().iloc[-1,:] if x > 1]
val_count = [x for x in val.describe().iloc[-1,:] if x > 1]

In [157]:
df.describe()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000
mean,1.844962,0.105279,0.810724,2.204300,0.030986,85.232557,2017.820427,7.423653,15.596995,0.025637,0.023349,0.153411,103.423539,0.619655
std,0.518715,0.402648,0.870644,1.410905,0.173281,85.930817,0.383836,3.069894,8.740447,0.158053,0.368331,1.754171,35.089424,0.786236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,2018.000000,5.000000,8.000000,0.000000,0.000000,0.000000,80.300000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,2018.000000,8.000000,16.000000,0.000000,0.000000,0.000000,99.450000,0.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,2018.000000,10.000000,23.000000,0.000000,0.000000,0.000000,120.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,2018.000000,12.000000,31.000000,1.000000,13.000000,58.000000,540.000000,5.000000

In [158]:
print(f'{train.iloc[:,-1].value_counts()}\n')
print(f'{val.iloc[:,-1].value_counts()} \n')
print(f'{test.iloc[:,-1].value_counts()}\n')

booking_status
Not_Canceled    19516
Canceled         9504
Name: count, dtype: int64

booking_status
Not_Canceled    4874
Canceled        2381
Name: count, dtype: int64

booking_status
Not_Canceled    2409
Canceled        1218
Name: count, dtype: int64

In [159]:
df.iloc[:,-1].value_counts()

booking_status
Not_Canceled    24390
Canceled        11885
Name: count, dtype: int64

In [160]:
train.to_csv(path_or_buf="../../data/processed/train.csv",index=False)
val.to_csv(path_or_buf="../../data/processed/val.csv",index=False)
test.to_csv(path_or_buf="../../data/processed/test.csv",index=False)

In [161]:
if train.columns.any() == test.columns.any():
    print("cols are same")

cols are same

In [162]:
idx = 0
for cols in train.columns:

    if cols == val.columns[idx]:
        print("not the same")

    idx+=1

not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same
not the same

In [163]:
test.shape

(3627, 19)

In [165]:
train.shape

(29020, 19)

In [166]:
val.shape

(7255, 19)